﻿
@{
    ViewData["Title"] = "Index";
}
@model WebApplication1.Models.ClienteViewModel
<h2>Index</h2>

@using (Html.BeginForm("Inserir", "Cliente", new { cliente = Model }))
{
    <div class="col-lg-12">
        <div class="row">
            @Html.TextBoxFor(m => m.Nome, new {@class="form-control"})
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.Idade, new { @class = "form-control" })
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.DataNascimento,"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date"})
        </div>
        <div class="row">
            <button type="submit" value="Salvar" class="btn-default"></button>
        </div>

    </div>

}


